/* general */

h1 {
  font-size: 1.4em;
}

p {
  display: inline-block;
  margin: 0;
}

/* table */

table {
  float: left;
  margin-right: 20px;
  border-spacing: 0px;
  border: 1px black solid;
}

td {
  width: 200px;
  border: 1px black solid;
}

.value {
  width: 90px;
}

/* calculator */

.calculator {
  display: inline-block;
  width: 800px;
  height: 400px;
  border: 2px solid black;
}

textarea {
  display: block;
  margin: 0px 0px 20px 0px;
}

/* loading */

#loading {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
}