<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>API</title>
  <link href="/CSS/index.css" rel="stylesheet">
  <script src="/JS/api.js"></script>
  <script src="/JS/index.js"></script>
</head>
<body>

  <!-- loading block -->
  
  <div id="loading">
    <p>Загрузка, это займёт пару секунд</p>
  </div>

  <h1>Курсы к Белорусскому рублю</h1>
    
  <!-- Table -->

  <table id="table">
  </table>

  <!-- calculator -->

  <div class="calculator">
    <form id="calc-form">

      <select id="currency-select1">
      </select>

      <p>Перевести в</p>

      <select id="currency-select2">
      </select>

      <textarea
        id="quantity"
        rows="1"
        cols="36"
        placeholder="Сколько валюты перевести"
      ></textarea>

      <button type="submit">Посчитать</button>

    </form>
    <p id="answer">Ответ:</p>
  </div>

</body>
</html>